.plist-editor {
    display: block;
    margin: -2px 0;
    border-style: solid;
    border-color: #DDD;
    border-width: 1px;
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.plist-editor .property,
.plist-editor .value {
    resize: vertical;
}

.plist-editor input[type="checkbox"] {
    margin-left: 12px;
    width: 25px;
    height: 25px;
}

.plist-editor table {
    margin-bottom: 6px;
}

.plist-editor td > table {
  display: none;
    background-color: transparent; !important;
}

.plist-editor .appender {
    position: relative;
    left: 16px;
}

.plist-editor td > div.appender {
  display: none;
}

.plist-editor div.appender > span {
  color: #419641; /* bootstrap success green */
  cursor: pointer;
  font-size: 16px;
}

.plist-editor td.expanded > div.appender {
  display: initial;
  visibility: hidden;
    background-color: aqua;
}

.plist-editor td.expanded:hover > div.appender {
  visibility: visible;
}

.plist-editor td.expanded > table {
  display: block;
}

.plist-editor tr > th > span.grabber {
    position: relative;
    top: 10px;
    color: #999999;
    width: 9px;
}

.plist-editor tr:hover > th > span.grabber {
}

.plist-editor td.row-controls {
    width: 32px; !important;
}

.plist-editor td.row-controls span {
   cursor: pointer;
   font-size: 20px;
    padding-top: 5px;
}

.plist-editor td.row-controls span.row_del_btn {
   color: #c12e2a; /* bootstrap danger red */
}

.plist-editor tr > td.row-controls button,
.plist-editor tr > td.row-controls span {
    visibility: hidden;
    position: relative;
    left: -2px;
}

.plist-editor tr:hover > td.row-controls button,
.plist-editor tr:hover > td.row-controls span.row_del_btn {
    visibility: visible;
}

.plist-editor td > .expander {
  background: url("data:image/svg+xml,%3Csvg width='11' height='14' viewBox='0 0 11 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 6.13397C11.1667 6.51888 11.1667 7.48113 10.5 7.86603L1.5 13.0622C0.833332 13.4471 -6.10471e-07 12.966 -5.76822e-07 12.1962L-1.2256e-07 1.80385C-8.8911e-08 1.03405 0.833333 0.552922 1.5 0.937822L10.5 6.13397Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center center;
    display: inline;
  float: left;
    width: 16px;
    height: 16px;
    margin-top: 3px;
  cursor: pointer;
}

.plist-editor td > .expander::after {
  content: "<array>";
  display: inline-block;
  position: relative;
  left: 20px;
  top: -3px;
  font-size: 10pt;
  color: #999999;
    font-weight: bold;
}

.plist-editor td[data-type="dict"] > .expander::after {
  content: "<dict>";
}

.plist-editor td.expanded > .expander {
    background: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.86603 10.5C7.48112 11.1667 6.51887 11.1667 6.13397 10.5L0.937822 1.5C0.552922 0.833331 1.03405 -1.22094e-06 1.80385 -1.15364e-06L12.1962 -2.4512e-07C12.966 -1.77822e-07 13.4471 0.833333 13.0622 1.5L7.86603 10.5Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center center;

}
.plist-editor td.expanded > .expander::after {
  content: "";
}

#plist {
  display: block;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  /*min-height: 70px;*/
}

textarea#plist  {
    border-style: none none none solid;
    border-color: #DDD;
    font-family: Courier, monospace;
}

.danger > textarea {
    color: #c12e2a;
}
